header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
  border-bottom: 1px solid white;
  text-align: start;
  font-family: AppleLiGothic;
}

.logo-image img {
  height: 60px;
  width: auto;
  border-radius: 10px;
  margin-top: 18px;
  margin-left: 30px;
}

.header-title {
  font-family: 'Arial', sans-serif;
 
  font-size: 30px;
  color: #D36931;
  text-align: start;
  justify-content: left;
  margin-inline-start: 22px;
  text-decoration: none;
 
 
  
}

header nav {
  display: flex;
  justify-content: flex-end; 
  align-items: center;
  gap: 40px; 
  padding: 10px; 
  font-weight: bold;
}

header nav a {
  text-decoration: none;
  font-size: 24px;
  color: #D36931;
  white-space: nowrap;
  
}

header nav a:hover {
  color: #d35400;
}

header .download-btn {
  background-color: #D36931;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 24px;
  cursor: pointer;
  font-weight: normal;
}

header .download-btn:hover {
  background-color: #D36931;
}


