.hero-section {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.first-section {
  display: flex;
  padding-top: 60px;
  padding-left: 100px;
  flex-direction: column;
  flex: 1;
}

.second-section {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.hero-content {
  flex-direction: row;
  text-align: left;
  display: flex;
  flex: 1;
  padding-top: 30px;
}

.hero-image {
  width: 320px;
  height: auto;
  max-width: 100%;
}

.email-signup {
  margin-bottom: 50px;
  display: flex;
  justify-content: left;
  align-items: left;
  gap: 10px;
  border: 30px;
}

.email-signup input[type='email']::placeholder {
  color: #de9b97;
  margin-left: 26.5px;
  font-size: 16px;
}

.email-signup input[type='email'] {
  padding: 16px;
  width: 360px;
  border: 2px solid #921e17;
  color: #de9b97;
  border-radius: 10px;
  font-size: 16px;
}

.email-signup button {
  background-color: #921e17;
  color: #e3e3e3;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
}

.email-signup button:hover {
  background-color: #d36931;
}

.hero-section h1 {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 33px;
  width: 100%;
  grid-column: span 1;
  color: #d36931;
}

.hero-section p {
  color: #d36931;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
  text-align: left;
  text-decoration: bold;
  text-transform: none;
  letter-spacing: normal;
  word-spacing: normal;
  margin-bottom: 33px;
  margin-top: 14px;
}

.food-gallery {
  display: flex;
  flex-wrap: wrap;
  margin-right: 20px;
  columns: 6;
  column-gap: 8px;
  row-gap: 13px;
}

.food-gallery img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1.5px solid #e3e3e3;
  object-fit: cover;
  margin: 5px;
  margin-top: 15px;
}

.screenshot-images img {
  filter: drop-shadow(6px 6px 4px rgba(0.4, 0.4, 0.4, 0.4));
}
