.hero-section {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start; 
    font-family: AppleLiGothic;
   
    
}

.first-section {
    display: flex;
    padding-top: 60px;
    padding-left: 100px;
    flex-direction: column;
    flex: 1
}

.second-section {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}


.hero-content {
    flex-direction: row;
    text-align: left; 
    display: flex;
    flex: 1;
    padding-top: 30px;
}

.hero-image {
    width: 270px; 
    height: auto; 
    max-width: 100%;
}

 .email-signup {
    margin-bottom: 50px; 
    display: flex;
    justify-content: left;
    align-items: left;
    gap: 10px; 
    border: 30px;
}

.hero-section .email-signup input[type="email"]::placeholder {
    color: #DE9B97;
  }

 .email-signup input[type="email"] {
    padding: 16px;
    width: 250px;
    border: 2px solid #921E17;
    color: #DE9B97;
    border-radius: 5px;
}

 .email-signup button {
    background-color: #921E17;
    color: #E3E3E3;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

.email-signup button:hover {
    background-color: #D36931;
}


  

h1 {
    margin-top: 30px;
    margin-bottom: 20px;
     
    font-size: 36px; 
    width: 100%; 
    grid-column: span 1;
    color: #D36931; 
}

p {
    color: #D36931; 
    font-family: Arial, sans-serif; 
    font-size: 18px; 
    font-weight: normal; 
    font-style: normal; 
    line-height: 1.5;
    text-align: left; 
    text-decoration: bold; 
    text-transform: none; 
    letter-spacing: normal; 
    word-spacing: normal; 
    margin-bottom: 33px;
    margin-top: 14px;
}

.food-gallery {
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
    columns: 6;
    column-gap: 8px;
    row-gap: 15px;
    
}

.food-gallery img {
    width: 70px; 
    height: 70px; 
    border-radius: 50%; 
    border: 1.5px solid rgb(193, 193, 193); 
    object-fit: cover; 
    margin: 5px; 
  }

.screenshot-images img {
    filter: drop-shadow(6px 6px 4px rgba(0.4, 0.4, 0.4, 0.4)); 
    padding-top: 80px;
    padding-right: 65px;
  }

 
