.first-section {
  display: flex;
  padding-top: 60px;
  padding-left: 100px;
  flex-direction: column;
  flex: 1;
}

.second-section {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.hero-content {
  flex-direction: row;
  text-align: left;
  display: flex;
  flex: 1;
  padding-top: 30px;
}

.hero-image {
  width: 320px;
  height: auto;
  max-width: 100%;
}

.email-signup {
  margin-bottom: 50px;
  display: flex;
  border: 30px;
  width: 80%;
}

.email-signup input[type='email']::placeholder {
  color: #de9b97;
  margin-left: 26.5px;
  font-size: 16px;
  font-weight: 500;
}

@keyframes expandButton {
  0% {
    color: #e3e3e3;
  }
  0.01% {
    color: rgba(146, 30, 23, 0);
  }
  99.99% {
    color: rgba(146, 30, 23, 0);
  }
  100% {
    color: #e3e3e3;
    cursor: default;
  }
}

@keyframes shrinkOut {
  0% {
    opacity: 1;
    flex: 1;
    width: 100%;
  }
  99.999% {
    border-width: 2px;
    padding: 0px;
    flex: 0;
  }
  100% {
    padding: 0px;
    border-width: 0px;
    color: '#fff';
    opacity: 0;
    margin-right: 0px;
    display: none;
    width: 0%;
  }
}

.email-signup input[type='email'] {
  padding: 4px 10px;
  border: 2px solid #921e17;
  color: #de9b97;
  border-radius: 10px;
  font-size: 16px;
  margin-right: 10px;
  width: 100%;
}

.subscribed input[type='email'] {
  padding: 4px 10px;
  border: 2px solid #921e17;
  color: #de9b97;
  border-radius: 10px;
  font-size: 16px;
  animation: shrinkOut 0.5s forwards;
  width: 100%;
}

.email-signup button {
  background-color: #921e17;
  color: #e3e3e3;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  text-wrap: nowrap;
  border: none;
  min-width: fit-content;
  flex: 1;
}

.subscribed button {
  background-color: #921e17;
  color: #e3e3e3;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  text-wrap: nowrap;
  animation: expandButton 0.5s forwards;
  flex: 1;
}

.email-signup button:hover {
  background-color: #d36931;
}

.hero-section h1 {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 33px;
  width: 100%;
  grid-column: span 1;
  color: #d36931;
}

.hero-section p {
  color: #d36931;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
  text-align: left;
  text-decoration: bold;
  text-transform: none;
  letter-spacing: normal;
  word-spacing: normal;
  margin-bottom: 33px;
  margin-top: 14px;
}

.food-gallery {
  display: flex;
  flex-wrap: wrap;
  columns: 6;
  column-gap: 20px;
  row-gap: 20px;
  column-count: 6;
}

.food-gallery img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1.5px solid #e3e3e3;
  object-fit: cover;
}

.screenshot-images img {
  filter: drop-shadow(6px 6px 4px rgba(0.4, 0.4, 0.4, 0.4));
}

@media only screen and (max-width: 768px) {
  .first-section {
    display: flex;
    padding: 0px 20px 0 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
  }

  .second-section {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
  }

  .hero-content {
    flex-direction: column;
    text-align: center;
    display: flex;
    flex: 1;
    padding-top: 0px;
  }

  .hero-section h1 {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 26px;
    color: #d36931;
  }

  .food-gallery img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1.5px solid #e3e3e3;
    object-fit: cover;
    margin: 5px;
    margin-top: 15px;
  }

  @keyframes expandButton {
    0% {
      width: 0%;
      color: '#e3e3e3';
    }
    0.01% {
      color: '#921e17';
    }
    99.99% {
      color: '#921e17';
    }
    100% {
      width: 100%;
      color: '#e3e3e3';
      cursor: default;
    }
  }

  .email-signup input[type='email'] {
    padding: 4px 10px;
    border: 2px solid #921e17;
    color: #de9b97;
    border-radius: 10px;
    font-size: 16px;
    width: 100%;
    margin-right: 0px;
  }

  .subscribed button {
    background-color: #921e17;
    color: #e3e3e3;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    text-wrap: nowrap;
    animation: expandButton 1s forwards;
  }

  .hero-image {
    width: 260px;
    height: auto;
    max-width: 100%;
  }

  .food-gallery {
    display: flex;
    flex-wrap: wrap;
    columns: 6;
    column-gap: 4px;
    row-gap: 13px;
    justify-content: center;
    align-items: center;
    columns: 6;
  }

  .hero-section p {
    font-size: 16px;
  }

  .email-signup {
    margin-bottom: 50px;
    display: flex;
    gap: 10px;
    border: 30px;
    width: 100%;
  }
}
