.map-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start; 
  align-items: stretch; 
  padding: 10px 10px #E3E3E3;
  margin-top: 100px;
  font-family: AppleLiGothic;
}

.map-section .text-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
 

}
  



.map-section h2 {
  
  font-size: 24px;
  color: #D36931;
  margin-bottom: 15px;
  text-align: left;
  padding-left: 10px
  
  
  
}

.map-section p {
  color: #555;
  margin-bottom: 15px;
  text-align: left; 
  line-height: 0.3;
  font-weight: bold; 
  padding-left: 65px;
}

.map-section .screenshot-images {
  flex: 1;
  display: flex;
  justify-content: center; 
  align-items: center;
  padding-right: 40px; 
}

.map-section .screenshot-images img {
  width: 100%;
  max-width: 250px;
  border-radius: 10px;
  filter: drop-shadow(6px 6px 4px rgba(0.4, 0.4, 0.4, 0.4)); 
}


