.video-reviews {
  
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center;     
    font-family: AppleLiGothic;
    text-align: left;
    
    padding-right: 200px;
}

.video-reviews .screenshot-images {
    flex: 1; 
    display: flex;
    justify-content: start; 
    align-items: start;
    
   
    
}

.video-reviews .screenshot-images img {
    width: 270px; 
    height: auto; 
    max-width: 100%; 
    margin-top: 313px;
    margin-left: 133px;
    filter: drop-shadow(6px 6px 4px rgba(0.4, 0.4, 0.4, 0.4)); 
}



.video-reviews h2 {
    font-size: 36px;
    color: #D36931;
    font-weight: bold;
    text-align: left;
   
   
        
 
   


   

}

.video-description p {
    font-size: 14px;
    color: #000000;
    font-weight: bold;
    text-align: left;
    line-height: 1.1;  
    margin: 5px 0;
    margin-right: 70px;
    
    
    
    
   
}



